/* Reset some default browser styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#searchButton {
    padding: 10px 20px;
    background-color: #355a81;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#searchButton:hover {
    background-color: #0056b3;
}

button:hover {
    background-color: #0056b3;
}

/* Search results styles */
#resultsContainer {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.result h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.result p {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.getContentButton {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
}

.findSimilarButton {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
}


/* Add styling for the country select */
.country-select {
    display: inline-block;
    margin-right: 20px;
}

/* Style the label and select element */
label {
    font-weight: bold;
    margin-right: 5px;
}

select {
    padding: 5px;
    font-size: 16px;
}
